<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container-form">
  <label>
    Nom d'utilisateur:
    <input type="text" formControlName="username" />
  </label>
  <div formGroupName="credentials">
    <label>
      Email:
      <input type="email" formControlName="email" />
    </label>
    <label>
      Mot de passe:
      <input type="password" formControlName="password" />
    </label>
  </div>
  <div formGroupName="address">
    <label>
      Numéro de rue:
      <input type="text" formControlName="streetNumber" />
    </label>
    <label>
      Code postal:
      <input type="text" formControlName="postal" />
    </label>
    <label>
      Ville:
      <input type="text" formControlName="street" />
    </label>
  </div>
  <button type="submit" [disabled]="!userForm.valid">Envoyer</button>
</form>
